-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: HTTT_QuanLyBaiXe_AI
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `app_users`
--

DROP TABLE IF EXISTS `app_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `app_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `role` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT 'Admin',
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_unique_phone` (`phone`),
  KEY `idx_username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bai_do`
--

DROP TABLE IF EXISTS `bai_do`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bai_do` (
  `MaChoDo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'M├ú ├┤ ─æß╗ù xe, v├¡ dß╗Ñ: B1-A01, B1-B05',
  `TenChoDo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'T├¬n ├┤ ─æß╗ù: Vß╗ï tr├¡ A-01 (Tß║ºng B1)',
  `KhuVuc` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Khu vß╗▒c / Tß║ºng hß║ºm: Ham_B1, Ham_B2',
  `Day` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'D├úy ├┤ ─æß╗ù: A, B, VIP, C, D, E',
  `SoThuTu` int NOT NULL COMMENT 'Sß╗æ thß╗⌐ tß╗▒ trong d├úy: 1..10',
  `LoaiChoDo` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT '├ö t├┤ con' COMMENT 'Loß║íi chß╗ù: ├ö t├┤ con, VIP ├ö t├┤',
  `TrangThai` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'Trong' COMMENT 'Trong, DaDat, BaoTri',
  `BienSoXe` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MaCuDan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `GhiChu` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CapNhatLuc` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`MaChoDo`),
  KEY `idx_khuvuc` (`KhuVuc`),
  KEY `idx_trangthai` (`TrangThai`),
  KEY `idx_bienso` (`BienSoXe`),
  KEY `idx_cudan` (`MaCuDan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bang_gia`
--

DROP TABLE IF EXISTS `bang_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bang_gia` (
  `MaGia` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LoaiXe` enum('Oto','XeMay') COLLATE utf8mb4_unicode_ci NOT NULL,
  `LoaiChuXe` enum('CuDan','VangLai') COLLATE utf8mb4_unicode_ci NOT NULL,
  `HinhThuc` enum('TheoLuot','TheoThang') COLLATE utf8mb4_unicode_ci NOT NULL,
  `DonGia` decimal(10,2) NOT NULL,
  `MoTa` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `NgayApDung` datetime DEFAULT CURRENT_TIMESTAMP,
  `TrangThai` enum('DangApDung','NgungApDung') COLLATE utf8mb4_unicode_ci DEFAULT 'DangApDung',
  PRIMARY KEY (`MaGia`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chuyen_nhuong_xe`
--

DROP TABLE IF EXISTS `chuyen_nhuong_xe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chuyen_nhuong_xe` (
  `id` int NOT NULL AUTO_INCREMENT,
  `MaDon` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `BienSoXe` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaCuDanChuyen` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `TenCuDanChuyen` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CanHoChuyen` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MaCuDanNhan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `TenCuDanNhan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CanHoNhan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `NgayYeuCau` datetime DEFAULT CURRENT_TIMESTAMP,
  `NgayDuyet` datetime DEFAULT NULL,
  `NguoiDuyet` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `TrangThai` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT 'Pending' COMMENT 'Pending, Approved, Rejected',
  `GhiChu` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `MaDon` (`MaDon`),
  KEY `idx_bien_so` (`BienSoXe`),
  KEY `idx_status` (`TrangThai`),
  KEY `idx_chuyen` (`MaCuDanChuyen`),
  KEY `idx_nhan` (`MaCuDanNhan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `cu_dan`
--

DROP TABLE IF EXISTS `cu_dan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cu_dan` (
  `MaCuDan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `HoTen` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `CCCD` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `SoDienThoai` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `Email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'D├╣ng ─æß╗â lß║Ñy lß║íi mß║¡t khß║⌐u App',
  `MaCanHo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `NgayDangKy` datetime DEFAULT CURRENT_TIMESTAMP,
  `TrangThai` enum('HoatDong','TamKhoa') COLLATE utf8mb4_unicode_ci DEFAULT 'HoatDong',
  `TaiKhoan` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'T├ái kho?n ??ng nh?p App',
  `MatKhau` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'M?t kh?u ??ng nh?p App',
  `app_user_id` int DEFAULT NULL,
  PRIMARY KEY (`MaCuDan`),
  UNIQUE KEY `CCCD` (`CCCD`),
  UNIQUE KEY `Email` (`Email`),
  KEY `app_user_id` (`app_user_id`),
  CONSTRAINT `cu_dan_ibfk_1` FOREIGN KEY (`app_user_id`) REFERENCES `app_users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_KhongXoaCuDan_KhiXeTrongBai` BEFORE DELETE ON `cu_dan` FOR EACH ROW BEGIN
    DECLARE xeTrongBai INT;
    
    SELECT COUNT(*) INTO xeTrongBai
    FROM PHUONG_TIEN pt
    JOIN LICH_SU_RA_VAO ls ON pt.BienSoXe = ls.BienSoXe
    WHERE pt.MaCuDan = OLD.MaCuDan AND ls.TrangThai = 'DangTrongBai';
    
    IF xeTrongBai > 0 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Lß╗ùi To├án Vß║╣n: Kh├┤ng thß╗â x├│a C╞░ d├ón v├¼ xe cß╗ºa hß╗ì ─æang nß║▒m trong b├úi!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `detections`
--

DROP TABLE IF EXISTS `detections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plate_id` int NOT NULL,
  `plate_text` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `detected_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `confidence` float DEFAULT '0.95',
  `camera_source` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `frame_number` int DEFAULT NULL,
  `raw_text` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_detected_at` (`detected_at` DESC),
  KEY `fk_detections_plate` (`plate_id`),
  CONSTRAINT `fk_detections_plate` FOREIGN KEY (`plate_id`) REFERENCES `plates` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=389 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hoa_don`
--

DROP TABLE IF EXISTS `hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoa_don` (
  `MaHoaDon` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaGiaoDich` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaGia` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaNV_ThuTien` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `TongTien` decimal(10,2) NOT NULL,
  `ThoiGianThanhToan` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `PhuongThucThanhToan` enum('TienMat','ChuyenKhoan','VeThang') COLLATE utf8mb4_unicode_ci DEFAULT 'TienMat',
  `TrangThai` enum('DaThanhToan','ChuaThanhToan','Huy') COLLATE utf8mb4_unicode_ci DEFAULT 'DaThanhToan',
  PRIMARY KEY (`MaHoaDon`),
  KEY `FK_HOADON_GIAODICH` (`MaGiaoDich`),
  KEY `FK_HOADON_BANGGIA` (`MaGia`),
  KEY `FK_HOADON_NHANVIEN` (`MaNV_ThuTien`),
  CONSTRAINT `FK_HOADON_BANGGIA` FOREIGN KEY (`MaGia`) REFERENCES `bang_gia` (`MaGia`) ON DELETE RESTRICT,
  CONSTRAINT `FK_HOADON_GIAODICH` FOREIGN KEY (`MaGiaoDich`) REFERENCES `lich_su_ra_vao` (`MaGiaoDich`) ON DELETE RESTRICT,
  CONSTRAINT `FK_HOADON_NHANVIEN` FOREIGN KEY (`MaNV_ThuTien`) REFERENCES `nhan_vien` (`MaNV`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lich_su_dang_nhap`
--

DROP TABLE IF EXISTS `lich_su_dang_nhap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lich_su_dang_nhap` (
  `MaPhien` int NOT NULL AUTO_INCREMENT,
  `MaNV` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ThoiGianDangNhap` datetime DEFAULT CURRENT_TIMESTAMP,
  `ThoiGianDangXuat` datetime DEFAULT NULL,
  `DiaChiIP` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'L╞░u IP m├íy t├¡nh/─æiß╗çn thoß║íi',
  `TrangThai` enum('ThanhCong','SaiMatKhau','BiKhoa') COLLATE utf8mb4_unicode_ci DEFAULT 'ThanhCong',
  PRIMARY KEY (`MaPhien`),
  KEY `FK_DangNhap_NhanVien` (`MaNV`),
  CONSTRAINT `FK_DangNhap_NhanVien` FOREIGN KEY (`MaNV`) REFERENCES `nhan_vien` (`MaNV`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lich_su_ra_vao`
--

DROP TABLE IF EXISTS `lich_su_ra_vao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lich_su_ra_vao` (
  `MaGiaoDich` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `BienSoXe` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaTheRFID` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `LoaiKhach` enum('CuDan','VangLai') COLLATE utf8mb4_unicode_ci NOT NULL,
  `DetectionID_Vao` int NOT NULL COMMENT 'ID ß║únh AI chß╗Ñp l├║c v├áo',
  `DetectionID_Ra` int DEFAULT NULL COMMENT 'ID ß║únh AI chß╗Ñp l├║c ra',
  `ThoiGianVao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `AnhVao` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaNV_XacNhanVao` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ThoiGianRa` datetime DEFAULT NULL,
  `AnhRa` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `MaNV_XacNhanRa` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `TrangThai` enum('DangTrongBai','DaRa') COLLATE utf8mb4_unicode_ci DEFAULT 'DangTrongBai',
  PRIMARY KEY (`MaGiaoDich`),
  KEY `FK_LSRV_AI_Plates` (`BienSoXe`),
  KEY `FK_LSRV_AI_DetectVao` (`DetectionID_Vao`),
  KEY `FK_LSRV_AI_DetectRa` (`DetectionID_Ra`),
  KEY `FK_LICH_SU_NV_VAO` (`MaNV_XacNhanVao`),
  KEY `FK_LICH_SU_NV_RA` (`MaNV_XacNhanRa`),
  CONSTRAINT `FK_LICH_SU_NV_RA` FOREIGN KEY (`MaNV_XacNhanRa`) REFERENCES `nhan_vien` (`MaNV`) ON DELETE SET NULL,
  CONSTRAINT `FK_LICH_SU_NV_VAO` FOREIGN KEY (`MaNV_XacNhanVao`) REFERENCES `nhan_vien` (`MaNV`) ON DELETE SET NULL,
  CONSTRAINT `FK_LSRV_AI_DetectRa` FOREIGN KEY (`DetectionID_Ra`) REFERENCES `detections` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `FK_LSRV_AI_DetectVao` FOREIGN KEY (`DetectionID_Vao`) REFERENCES `detections` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `FK_LSRV_AI_Plates` FOREIGN KEY (`BienSoXe`) REFERENCES `plates` (`plate_text`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nhan_vien`
--

DROP TABLE IF EXISTS `nhan_vien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nhan_vien` (
  `MaNV` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `HoTen` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci NOT NULL,
  `Email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'D├╣ng ─æß╗â lß║Ñy lß║íi mß║¡t khß║⌐u',
  `VaiTro` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'Bß║úo vß╗ç',
  `TrangThai` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT 'HoatDong',
  `NgayTao` datetime DEFAULT CURRENT_TIMESTAMP,
  `CaTruc` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'Ca S├íng (06:00 - 14:00)',
  `SoDienThoai` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `NgayVaoLam` date DEFAULT (curdate()),
  `TaiKhoan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `MatKhau` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `app_user_id` int DEFAULT NULL,
  PRIMARY KEY (`MaNV`),
  UNIQUE KEY `Email` (`Email`),
  KEY `app_user_id` (`app_user_id`),
  CONSTRAINT `nhan_vien_ibfk_1` FOREIGN KEY (`app_user_id`) REFERENCES `app_users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `parking_sessions`
--

DROP TABLE IF EXISTS `parking_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plate_text` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `check_in_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `check_out_time` datetime DEFAULT NULL,
  `duration_minutes` int DEFAULT NULL,
  `fee` decimal(10,2) DEFAULT '0.00',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'Parked' COMMENT 'Parked, Completed',
  `camera_in` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `camera_out` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_plate_text` (`plate_text`),
  KEY `idx_status` (`status`),
  KEY `idx_check_in` (`check_in_time` DESC),
  CONSTRAINT `fk_sessions_plate` FOREIGN KEY (`plate_text`) REFERENCES `plates` (`plate_text`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=237 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `phuong_tien`
--

DROP TABLE IF EXISTS `phuong_tien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phuong_tien` (
  `BienSoXe` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaCuDan` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LoaiXe` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '├ö t├┤ con',
  `MauXe` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  `MaTheRFID` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `NgayHetHan` datetime NOT NULL,
  `TrangThaiHopLe` tinyint(1) DEFAULT '1',
  `ViTriDo` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Vß╗ï tr├¡ b├úi ─æß╗ù xe ├┤ t├┤',
  PRIMARY KEY (`BienSoXe`),
  UNIQUE KEY `MaTheRFID` (`MaTheRFID`),
  KEY `FK_PHUONG_TIEN_CUDAN` (`MaCuDan`),
  CONSTRAINT `FK_PHUONG_TIEN_CUDAN` FOREIGN KEY (`MaCuDan`) REFERENCES `cu_dan` (`MaCuDan`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `plates`
--

DROP TABLE IF EXISTS `plates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plates` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plate_text` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  `detection_count` int DEFAULT '1',
  `confidence` float DEFAULT '0.95',
  `province_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vehicle_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '├ö t├┤ con',
  PRIMARY KEY (`id`),
  UNIQUE KEY `plate_text` (`plate_text`),
  KEY `idx_plate_text` (`plate_text`),
  KEY `fk_plates_province` (`province_code`),
  KEY `fk_plates_vehicle_type` (`vehicle_type`),
  CONSTRAINT `fk_plates_province` FOREIGN KEY (`province_code`) REFERENCES `provinces` (`code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_plates_vehicle_type` FOREIGN KEY (`vehicle_type`) REFERENCES `vehicle_types` (`type_name`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=408 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `provinces`
--

DROP TABLE IF EXISTS `provinces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provinces` (
  `code` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'M├ú tß╗ënh (51, 29, 33...)',
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name_en` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `region` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `quan_ly_otp_token`
--

DROP TABLE IF EXISTS `quan_ly_otp_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quan_ly_otp_token` (
  `ID` int NOT NULL AUTO_INCREMENT,
  `Email_Nhan` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `LoaiTaiKhoan` enum('NhanVien','CuDan') COLLATE utf8mb4_unicode_ci NOT NULL,
  `MaOTP` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'M├ú sß╗æ 6 chß╗» sß╗æ gß╗¡i qua mail',
  `ThoiGianTao` datetime DEFAULT CURRENT_TIMESTAMP,
  `ThoiGianHetHan` datetime NOT NULL COMMENT 'Thß╗¥i gian hß║┐t hß║ín (VD: 5 ph├║t)',
  `TrangThai` enum('ChuaSuDung','DaSuDung','DaHuy') COLLATE utf8mb4_unicode_ci DEFAULT 'ChuaSuDung',
  PRIMARY KEY (`ID`),
  KEY `idx_Email` (`Email_Nhan`),
  KEY `idx_OTP` (`MaOTP`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `quyen_admin`
--

DROP TABLE IF EXISTS `quyen_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quyen_admin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_user_id` int NOT NULL,
  `QuanLyNguoiDung_Va_CapTaiKhoan` tinyint(1) DEFAULT '1',
  `QuanLyDanhMuc_Xe_Blacklist` tinyint(1) DEFAULT '1',
  `QuanLySoDo_BaiDoCinema` tinyint(1) DEFAULT '1',
  `PheDuyet_ChuyenNhuongXe` tinyint(1) DEFAULT '1',
  `XemBaoCao_ThongKeDoanhThu` tinyint(1) DEFAULT '1',
  `ThuNghiem_NhanDienAI` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `app_user_id` (`app_user_id`),
  CONSTRAINT `quyen_admin_ibfk_1` FOREIGN KEY (`app_user_id`) REFERENCES `app_users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `quyen_baove`
--

DROP TABLE IF EXISTS `quyen_baove`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quyen_baove` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_user_id` int NOT NULL,
  `GiamSatCamera_LiveStream` tinyint(1) DEFAULT '1',
  `KiemSoat_XeVao_XeRa` tinyint(1) DEFAULT '1',
  `DoiChieuAnh_NhanDienAI` tinyint(1) DEFAULT '1',
  `XuLyCanhBao_XeBlacklist` tinyint(1) DEFAULT '1',
  `TraCuuCuocPhi_ThuTien` tinyint(1) DEFAULT '1',
  `DieuKhien_MoDongBarrier` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `app_user_id` (`app_user_id`),
  CONSTRAINT `quyen_baove_ibfk_1` FOREIGN KEY (`app_user_id`) REFERENCES `app_users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `quyen_user`
--

DROP TABLE IF EXISTS `quyen_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quyen_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_user_id` int NOT NULL,
  `DangKy_GiaHanVeThang` tinyint(1) DEFAULT '1',
  `DangKy_XeChoCanHo` tinyint(1) DEFAULT '1',
  `Chon_DoiViTri_DoXe` tinyint(1) DEFAULT '1',
  `YeuCau_ChuyenNhuongXe` tinyint(1) DEFAULT '1',
  `TraCuuLichSu_VaoRa_CaNhan` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `app_user_id` (`app_user_id`),
  CONSTRAINT `quyen_user_ibfk_1` FOREIGN KEY (`app_user_id`) REFERENCES `app_users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `statistics`
--

DROP TABLE IF EXISTS `statistics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statistics` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date_stat` date NOT NULL,
  `total_plates` int DEFAULT '0',
  `total_detections` int DEFAULT '0',
  `avg_confidence` float DEFAULT '0',
  `top_plate` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `date_stat` (`date_stat`)
) ENGINE=InnoDB AUTO_INCREMENT=387 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicle_types`
--

DROP TABLE IF EXISTS `vehicle_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_types` (
  `type_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '├ö t├┤ con, Xe m├íy...',
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `seats` int DEFAULT NULL,
  `max_weight` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`type_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicles` (
  `plate_text` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Biß╗ân sß╗æ xe',
  `owner_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'T├¬n chß╗º xe',
  `vehicle_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '├ö t├┤ con',
  `color` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'M├áu xe',
  `registration_date` date DEFAULT NULL COMMENT 'Ng├áy ─æ─âng k├╜',
  `status` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT 'Hoß║ít ─æß╗Öng' COMMENT 'Trß║íng th├íi',
  `province_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'M├ú tß╗ënh',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `group_type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'Normal' COMMENT 'Normal, Whitelist, Blacklist',
  `monthly_ticket_expiry` date DEFAULT NULL COMMENT 'Hß║ín v├⌐ th├íng',
  `parking_slot` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Vß╗ï tr├¡ b├úi ─æß╗ù xe ├┤ t├┤',
  PRIMARY KEY (`plate_text`),
  KEY `idx_vehicle_type` (`vehicle_type`),
  KEY `idx_vehicle_status` (`status`),
  KEY `idx_vehicle_province` (`province_code`),
  CONSTRAINT `fk_vehicles_province` FOREIGN KEY (`province_code`) REFERENCES `provinces` (`code`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_vehicles_type` FOREIGN KEY (`vehicle_type`) REFERENCES `vehicle_types` (`type_name`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-09  9:26:27
